<!DOCTYPE html>
<html>
  <head>
    <title>Night Life App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/stylesheets/loader.css'></link>
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="appContainer">
      <div class="searchContainer">
        <h1>Night Life App</h1>
        <div class="searchbar">
          <input type="text" placeholder="Enter a Zipcode"></input>
          <button class="btn">Search</button>
        </div>
        <ul class="resultContainer">

        </ul>
      </div>
    </div>
    <script src="scripts/index.js"></script>
  </body>
</html>
