/*#A239CA, #4717F6, #E7DFDD, #0E0B16*/

body, html {
  margin: 0;
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
  
}

li {
  list-style: none;
}

.appContainer {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  height: 100%;
  width: 100%;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  max-width: 500px;
  border: 1px solid black;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.results {
  margin-top: 25px;
  border: 1px solid red;
  width: 80%;
  max-width: 800px;
}

.results a {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  text-align: center;
  width: 300px;
}

img {
  width: 120px;
  height: 90px;
  margin: 1px;
}

input {
  border: none;
  border-bottom: 3px dashed black;
  outline: none;
  width: 200px;
  font-size: 24px;
}

input:focus {
  border-bottom: 3px dashed green;
}
.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  cursor: pointer;
  margin-top: 20px;
  border: none;
  outline: none;
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
  box-shadow: 0 0 2px 0;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.attendance {
  background-color: green;
  border: none;
  cursor: pointer;
  outline: none;
}

h1 {
  font-size: 48px;
}

.going {
  background-color: red;
}