/*#94618E #49274A #F4DEC8 #F8EEE7*/

body, html {
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 
}

a {
  text-decoration: none;
  color: black;
  
}

li {
  list-style: none;
}

.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;

}

.background {
  background-image: url('../imgs/background.jpg');
  background-size: cover;
  min-height: 900px;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-top: 100px;
  max-width: 500px;
  background-color: #94618E;
  border: 2px solid #49274A;
  box-shadow: 0 0 3px 0 rgba(0, 255, 255, .8);
  padding: 5px;
  
}

.resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
}

.results {
  margin-top: 25px;
  border: 1px solid #49274A;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 0 3px 0 rgba(0, 255, 255, .8);
  background-color: #94618E;
  transition: all .3s ease;
}

.results:hover {
  background-color: #49274A;
}

.results:active {
  box-shadow: none;
}

.results a {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  padding: 3px;
}

.title {
  text-align: center;
  width: 300px;
  color: white;
}


img {
  width: 120px;
  height: 90px;
  margin: 1px;
}

#skyline {
  height: 90px;
  margin: 2px;
  width: 220px;
  
}

input {
  border: none;
  border-bottom: 3px dashed lightcyan;
  outline: none;
  width: 220px;
  font-weight: bolder;
  font-size: 24px;
  margin: 5px;
  background-color: #94618E;
  color: #F8EEE7;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #F8EEE7;
    font-weight: bold;
    opacity: 1; /* Firefox */
}

input:focus {
  border-bottom: 3px dashed #39ff14;
}
.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  cursor: pointer;
  margin-top: 20px;
  border: none;
  outline: none;
  width: 100px;
  height: 30px;
  font-size: 20px;
  margin-bottom: 10px;
  box-shadow: 0 0 2px 0;
  background-color: #F8EEE7;
  transition: all .3s ease;
  border-radius: 5px;
}

.btn:hover {
  background-color: #F4DEC8;
}

.btn:active {
  box-shadow: none;
  background-color: lightcyan;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.attendance {
  background-color: green;
  box-shadow: 0 0 3px 0 rgba(0,255,255, 1);
  border: none;
  cursor: pointer;
  outline: none;
  padding: 5px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  font-size: 16px;
  color: white;
}

.attendance:active {
  box-shadow: none;
}
h1 {
  font-size: 48px;
  margin: 0;
  color: #F8EEE7;
}

.going {
  background-color: red;
}